nav ul li {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
}
nav ul li a {
	font-weight: 600;
	position: relative;
	padding: 10px 10px;
	letter-spacing: 0.1em;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
}
nav ul li a:after {
	content: "";
	position: absolute;
	height: 2px;
	bottom: 7px;
	left: 10px;
	right: 10px;
	background-color: #f27a3d;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav ul li a:hover {
	text-decoration: none;
	color: white;
}
nav ul li a:hover:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
nav ul li.active a {
	color: white;
}
nav ul li.active a:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
/* Doesn't work in Firefox */
.reflection {
	-webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0, 0, 0, 0.35));
}
