/* eslint-disable css/no-invalid-properties */

@import "tailwindcss";

/* Add truncate to all text elements */
/* @layer base {
	/* Or target specific elements */
/*	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li,
	span,
	label,
	small,
	a,
	footer {
		@apply truncate;
	}
}
*/

:root {
	/*LightTheme*/
	--primary: #ff7f00;
	--secondary: #0066cc;
	--secondary-hover: #005bb5;
	--background: rgb(252, 252, 252);
	--surface: #fdf6f0;
	--surface-hover: #fae9dd;
	--text: #2a2a36;
	--text-hover: #4b5563;
	--text-tertiary: #6b7280;
	--text-carousel: rgb(255, 249, 242);
	--hover-text: #534080;
	--btn-text: #2a2a36;
	--accent1: #ffc400;
	--accent2: #ff4d4d;
	--error: #e63946;
	--error-hover: #d32f3d;
	--success: #2a9d8f;
	--success-hover: #238a7d;
	--aura-hue: 20deg;
	--spacing: 0.38rem;
	--surface-rgb: 253, 246, 240;
	/*Brands*/
	--nextjs-fill: #171717;
	--html-fill: #000;
	--github-fill: #0f0e0fff;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:root:has(#theme-toggle:checked) {
	--primary: #f27a3d;
	--secondary: #00b4f0;
	--secondary-hover: #00a0d6;
	--background: #0f1624;
	--surface: #1c2536;
	--surface-hover: #253042;
	--text: #e6f0ff;
	--text-hover: #d1d5db;
	--hover-text: #4b5563;
	--text-tertiary: #bac1ce;
	--text-carousel: rgb(255, 249, 242);
	--accent1: #ffea70;
	--accent2: #ff4081;
	--error: #ff6b6b;
	--error-hover: #ff5252;
	--success: #70d6a3;
	--success-hover: #5ac394;
	/*Brands*/
	--nextjs-fill: #ececec;
	--html-fill: #f9f9f9;
	--github-fill: #fff;
	--surface-rgb: 28, 37, 54;
	--cosmos-bg: linear-gradient(135deg, #0f1624 0%, #1a2233 100%);
}

.energy-glow {
	box-shadow: 0 0 8px hsl(var(--aura-hue), 100%, 50%, 0.3);
}

/* ::selection {
	background-color: var(--primary);
}


 */

/* eslint-disable-next-line css/no-invalid-at-rules */
@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--text);
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: env(safe-area-inset-bottom);
	transition:
		background-color 0.3s ease-in,
		color 0.3s ease-in;
	-webkit-transition:
		background-color 0.3s ease-in,
		color 0.3s ease-in;
	-moz-transition:
		background-color 0.3s ease-in,
		color 0.3s ease-in;
	-ms-transition:
		background-color 0.3s ease-in,
		color 0.3s ease-in;
	-o-transition:
		background-color 0.3s ease-in,
		color 0.3s ease-in;
}
#main {
	transition-property: opacity, transform, filter, background;
	transition-timing-function: ease-in-out;
	transition-duration: 500ms;
}

.page-transition {
	opacity: 0;
	background: var(--background);
	transform: translateY(40px);
	filter: blur(12px);
}

#logo {
	font-family: var(--font-logo), serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}

p,
li,
select,
footer,
form {
	font-family: var(--font-text), Arial, Helvetica, sans-serif;
}

small,
.cta {
	font-family: var(--font-small), Arial, Helvetica, sans-serif;
}

input,
textarea {
	border-color: var(--primary);
	padding: 0.25em 0.5em;

	&::spelling-error {
		text-decoration: underline solid var(--error) 2px;
	}

	&:focus {
		outline: none;
		border-color: var(--primary);
		box-shadow: 0 0 0 2px var(--primary);
		caret-color: var(--primary);
	}
	&:hover {
		outline: none;
		border-color: var(--primary);
		box-shadow: 0 0 0 2px var(--primary);
	}

	&:user-valid {
		border-color: var(--success);
	}
	&:user-invalid {
		outline: none;
		border-color: var(--error);
	}
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}

h3 {
	font-size: 1.5rem;
	font-weight: 700;
}
h4 {
	font-size: 1.25rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.7rem;
}

p {
	font-size: 1em;
}

.dock {
	padding-bottom: env(safe-area-inset-bottom);
}

select option {
	background-color: var(--background);
}
/* NavLinks underline */
nav ul li {
	margin: 15px 0 15px 0;
	padding: 0;
	list-style: none;
}
nav ul li a {
	font-weight: 600;
	position: relative;
	padding: 10px 10px;
	letter-spacing: 0.1em;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
}
nav ul li a:after {
	content: "";
	position: absolute;
	height: 2px;
	bottom: 7px;
	left: 10px;
	right: 10px;
	background-color: var(--primary);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav ul li a:hover {
	text-decoration: none;
	color: var(--text);
}
nav ul li a:hover:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
nav ul li.active a {
	color: var(--text);
}
nav ul li.active a:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}

footer a {
	font-family: var(--font-small-itallic);
}

/* Tech Stack icons */
#stack-container > div > a > svg {
	width: 7em;
	height: 7em;
}
/* GitHub and LinkedIn icons in Sidenav */
.sidenav-icons > svg {
	width: 1.5em;
	height: 1.5em;
}

.toggle > div > svg {
	width: 2em;
	height: 2em;
}

#privacy-policy-check:focus,
#message:hover,
#telephone:hover,
#email:hover,
#lastName:hover,
#firstName:hover {
	box-shadow: 0 0 0 2px var(--primary);
}

#contact-form:disabled {
	cursor: not-allowed;
	opacity: 75%;
	transition: opacity 0.5s ease-in-out;
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

.locale-option {
	margin: 0;
	padding: 10px 0;
}
.required::after {
	content: "*" / "Required";
}
.optional::after {
	content: "Optional" / "Optional";
}
