/* eslint-disable css/no-invalid-properties */

@import "tailwindcss";

:root {
	/* Light Theme */
	--primary: #ff6f00;
	--secondary: #0077c8;
	--secondary-hover: #0065ac;
	--background: rgb(255, 249, 242);
	--surface: #ffffff;
	--text: #2a2a36;
	--text-hover: #4b5563;
	--text-tertiary: #6b7280;
	--text-carousel: rgb(255, 249, 242);
	--btn-text: #2a2a36;
	--accent1: #ffd100;
	--accent2: #d00060;
	--error: #e63946;
	--error-hover: #d32f3d;
	--success: #2a9d;
	--success-hover: #238a7d;

	--aura-hue: 20deg;
	--spacing: 0.38rem;
	--surface-rgb: 255, 255, 255;

	--nextjs-fill: #171717;
	--html-fill: #000;
	--github-fill: #0f0e0fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #ff9e30;
		--secondary: #00b4f0;
		--secondary-hover: #00a0d6;
		--background: rgb(15, 22, 36);
		--surface: #1c2536;
		--text: #e6f0ff;
		--text-hover: #d1d5db;
		--text-tertiary: #bac1ce;
		--text-carousel: rgb(255, 249, 242);
		--accent1: #ffea70;
		--accent2: #ff4081;
		--error: #ff6b6b;
		--error-hover: #ff5252;
		--success: #70d6a3;
		--success-hover: #5ac394;
		--nextjs-fill: #ececec;
		--html-fill: #f9f9f9;
		--github-fill: #fff;

		--surface-rgb: rgb(28, 37, 54);
		--cosmos-bg: linear-gradient(135deg, #0f1624 0%, #1a2233 100%);
	}
}

.energy-glow {
	box-shadow: 0 0 8px hsl(var(--aura-hue), 100%, 50%, 0.3);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--text);
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: env(safe-area-inset-bottom);
}

#logo {
	font-family: var(--font-logo), serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}
p,
li,
select,
footer,
form {
	font-family: var(--font-text), Arial, Helvetica, sans-serif;
}

small,
.cta {
	font-family: var(--font-small), Arial, Helvetica, sans-serif;
}

input,
textarea {
	border-color: #f27a3d;
	padding: 0.25em 0.5em;

	&:focus {
		outline: none;
		border-color: #f27a3d;
		box-shadow: 0 0 0 2px #f27a3d;
		caret-color: #f27a3d;
	}
	&:hover {
		outline: none;
		border-color: #f27a3d;
		box-shadow: 0 0 0 2px #f27a3d;
	}
}

h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 1.5rem;
	font-weight: 700;
}
h4 {
	font-size: 1.25rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.7rem;
}

p {
	font-size: 1em;
}

.dock {
	padding-bottom: env(safe-area-inset-bottom);
}

select option {
	background-color: var(--background);
}
/* NavLinks underline */
nav ul li {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
}
nav ul li a {
	font-weight: 600;
	position: relative;
	padding: 10px 10px;
	letter-spacing: 0.1em;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
}
nav ul li a:after {
	content: "";
	position: absolute;
	height: 2px;
	bottom: 7px;
	left: 10px;
	right: 10px;
	background-color: var(--primary);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav ul li a:hover {
	text-decoration: none;
	color: var(--text);
}
nav ul li a:hover:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
nav ul li.active a {
	color: var(--text);
}
nav ul li.active a:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}

footer a {
	font-family: var(--font-small-itallic);
}
